h1{text-align: center;}
h2,
h3,
h4 {
    margin: 0.1rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    padding-left: 200px;text-align: center;
}

h3 {
    font-size: 2rem;
    padding-left: 40px;line-height: 1.5;
}

h4 {
    font-size: 3rem;
    font-style: italic;
    padding-left: 150px;
}
h1{
  font-size: 6rem;
  color: #ff3287; 
  text-shadow: -1px -1px 1px #aaa,
  0px 4px 1px rgba(0,0,0,0.5),
  4px 4px 5px rgba(0,0,0,0.7),
  0px 0px 7px rgba(0,0,0,0.4);
} 
a{color: #ff3287;}
