html{
    font-size: 24pt;
}

body {
    background-color: #bab9b7;
    width: 800px;
    font-size: 24pt;
}

article{
    font-size: 2em;
}
h1{
    font-size: 2rem;
    color: rgb(110, 254, 97);
}

h2{ font-size: 2rem;
    color:rgb(91, 255, 77)}

h3{ font-size: 2rem;
    color:rgb(91, 255, 77)}

h4{ font-size: 2rem;
    color:rgb(91, 255, 77)}

h5{ font-size: 2rem;
    color:rgb(91, 255, 77)}

p{
    color: rgb(255, 2, 221,0.7);
    width: 100%;
    font-size: 0.5rem;

}

a{
    color: rgba(0, 255, 255, 0.783);
    font-size: 0.7rem;
}

.myclass{color: rgb(8, 16, 239);
    font-size: 0.5rem
}
.green{color: blueviolet;}

#first{
    font-weight: bold;
}

body article p {
	color: yellow;
}
p:hover{
    color: rgb(255, 53, 221);
}